* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* element that sets the background color for the main body of the website */
body {
    background-color: #d9dcd6;
}

/* element that sets the font, font color, padding and background color for text within the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* element that sets the font size for the header, and the display to allow the navigation to be inline with the logo*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* element that sets a separate font color for part of the logo */
header h1 .seo {
    color: #d9dcd6;
}

/* changed div tags to HTML semantic coding for header */
/* element that sets the font, font size, padding and right margin for the navigation links */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* element that sets the font color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* element that sets the font size for paragraphs*/
p {
    font-size: 16px;
}

/* class that sets formatting for main image at top of home page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* class that is applied to shift content to the left, currently applied to SEO and SMM articles */
.float-left {
    float: left;
    margin-right: 25px;
}

/* class that is applied to shift content to the right, currently applied to Online Reputation Management article */
.float-right {
    float: right;
    margin-left: 25px;
}

/* class that sets width, display and left margin for webpage content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* class that sets font, background color, margins and spacings in aside */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* classes that set margins and color in asides */
/* consolidated three separate but identical codes down to one */
.benefit-aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidated three separate but identical h3 codes down to one */
/* margin and text alignment coding for h3 headers */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* coding for images in asides */
/* consolidated three separate but identical image codes down to one */
.benefit-aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* coding for articles */
/* consolidated three separate but identical class codes for the content articles down to one */
.content-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* image coding for images within articles */
.content-article img {
    max-height: 200px;
}

/* margin and font size coding for h2 headers */
/* consolidated three separate but identical h2 codes down to one */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* coding for footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
